@font-face {
    font-family: Quicksand;
    src: url("../assets/fonts/Quicksand-Regular.ttf") format("truetype"),
    url("../assets/fonts/Quicksand-Regular.woff2") format("woff2");
    font-style: normal;
}

@font-face {
    font-family: Bitter;
    src: url("../assets/fonts/Bitter-Regular.ttf") format("truetype"),
    url("../assets/fonts/Bitter-Regular.woff2") format("woff2");
    font-style: normal;
}

@font-face {
    font-family: Playfair;
    src: url("../assets/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: Gowun;
    src: url("../assets/fonts/GowunBatang-Regular.ttf") format("truetype");
    font-style: normal;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --beige:#9fad88;
    --white: #ffffff;
    --dark-green: #11423e;
    --darker-green: #0d322f;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: var(--white);
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: Playfair, sans-serif;
}

p {
    margin: 0;
    font-family: Gowun, sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 36px;
    line-height: 1.2;
}

h2 {
    font-size: 26px;
    line-height: 1.3;
}

label {
    font-family: Gowun, sans-serif;
}

a {
    text-decoration: none;
    color: var(--darker-green);
    box-sizing: border-box;

    &.active {
      font-weight: bold;
    }

}

.link {
    text-decoration: none;
    color: var(--darker-green);
    position: relative;
    font-family:Gowun, sans-serif;

    &:after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--darker-green);
        transition: all 150ms ease-in-out;
    }

    &:hover::after {
        width: 100%;
    }
}

.content-wrapper {
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

@media (min-width: 740px) {
    .content-wrapper {
        width: 620px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

}

@media (min-width: 1200px) {
    .content-wrapper {
        width: 860px;
        gap: 90px;
    }

    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 34px;
    }
}

@media (min-width: 1920px) {
    .content-wrapper {
        width: 1260px;
    }
}